/* Import Google Font - Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('dictionary.jpeg') no-repeat center center/cover;
    
}
  
::selection{
  color: #fff;
  background: #FF7B54;
}
.wrapper{
  width: 450px;
  border-radius: 10px;
  background: #f0f0f0;
  padding: 30px 32px 50px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.1);
}
.wrapper header{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #333;
}
.wrapper .search{
  position: relative;
  margin: 40px 0 22px;
}
.search input{
  height: 55px;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-radius: 8px;
  padding: 0 48px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.search input:focus{
  padding: 0 47px;
  border: 2px solid #FF7B54;
}
.search input::placeholder{
  color: #A1A1A1;
}
.search :where(i, span){
  position: absolute;
  top: 50%;
  color: #ccc;
  transform: translateY(-50%);
}
.search i{
  left: 20px;
  pointer-events: none;
  font-size: 18px;
}
.search input:focus ~ i{
  color: #FF7B54;
}
.search span{
  right: 18px;
  cursor: pointer;
  font-size: 20px;
  display: none;
}
.search input:valid ~ span{
  display: block;
}
.wrapper .info-text{
  font-size: 14px;
  color: #A3A3A3;
  margin: -4px 0 -12px;
}
.wrapper.active .info-text{
  display: none;
}
.info-text span{
  font-weight: 600;
}
.wrapper ul{
  height: 0;
  opacity: 0;
  padding-right: 2px;
  overflow-y: hidden;
  transition: all 0.3s ease;
}
.wrapper.active ul{
  opacity: 1;
  height: 320px;
  background-image: ;
}
.wrapper ul li{
  display: flex;
  list-style: none;
  margin-bottom: 16px;
  align-items: center;
  padding-bottom: 19px;
  border-bottom: 1px solid #E0E0E0;
  justify-content: space-between;
}
ul li:last-child{
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
ul .word p{
  font-size: 24px;
  font-weight: 600;
  color: #333;
}
ul .word span{
  font-size: 13px;
  color: #AAA;
}
ul .word i{
  color: #ccc;
  font-size: 16px;
  cursor: pointer;
}
ul .content{
  max-height: 225px;
  overflow-y: auto;
}
ul .content::-webkit-scrollbar{
  width: 2px;
}
.content li .details{
  padding-left: 12px;
  border-radius: 5px 0 0 5px;
  border-left: 4px solid #FF7B54;
}
.content li p{
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.content li span{
  font-size: 16px;
  color: #8A8A8A;
}
.content .synonyms .list{
  display: flex;
  flex-wrap: wrap;
}
.content .synonyms span{
  cursor: pointer;
  margin-right: 6px;
  text-decoration: underline;
  color: #FF7B54;
}
